.currentUnit{
  display:none
}
ul {
  border: 3px solid black;
  width:300px;
  display: block;
  line-height: 36px;
  padding: 0 10px;
}
li {
  list-style-type: none;
  text-align: right;
  border-bottom: 1px dotted
}
li:last-child {
  border-bottom: none;
}